<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <link rel="stylesheet" href='{% static "caproy/css/bootstrap.min.css" %}' />
    <link rel="stylesheet" href='{% static "caproy/css/bootstrap-theme.min.css" %}' />
    <title>{% block title %}Capture Royale{% endblock %}</title>
</head>

<body>
    <div class="container">

        <div class="page-header">
          <h1>Capture Royale <small>Build the best, conquer the rest</small></h1>
        </div>

        {% block content %}{% endblock %}

        <hr/>

        <div class="row">
            <p class="text-center">
                <span class="glyphicon glyphicon-sunglasses"></span>
                An open-source Razorforce production
                <span class="glyphicon glyphicon-sunglasses"></span>
            </p>
        </div>


    </div>



</body>
</html>
